
@{
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
@section Styles{
    <link href="~/css/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
}
<main class="container-map">
    <div id="branch-map"></div>
    <div class="container" id="container-navbar">
        <div class="navbar navbar-default navbar-fixed-left">
            @*<input style="width:350px; " type="text" id="input-search" class="form-control" placeholder="Vị trí của bạn" />*@
            <div class="form-group">
                <label class="control-label">Tỉnh/Thành phố</label>
                <select style="width:100%;" name="province" class="form-control"></select>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">Quận/Huyện</label>
                <select style="width:100%;" name="district" class="form-control"></select>
            </div>
            <div class="form-group">
                <ul class="list-group" id="list-branch-filter">
                </ul>
            </div>
        </div>
    </div>
    <div id="map-info">
        <div class="navbar navbar-default navbar-fixed-right">
            <div class="form-group">
                <p><strong id="branch-number"></strong> CHI NHÁNH/PGD</p>
            </div>
            <div class="form-group">
                <ul class="list-group" id="branch-detail">
                </ul>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqXxSMOmWzN2_ghslCY_T-yXhxNWAnFwc&libraries=places"></script>
    <script src="~/js/markerclusterer_compiled.js"></script>
    <script src="~/js/select2.full.js"></script>
    <script src="~/page/maps.js"></script>
}