@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="banner-section">
        <div class="banner owl-carousel">
            <div class="item">
                <img src="img/banner/bn1.png" alt="">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                                <h4>MÙA ƯU ĐÃI LÃI VAY</h4>
                                <h3>VAY DỄ DÀNG – LÃI HẤP DẪN</h3>
                                <h5>Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà</h5>
                                <div class="block-activity">
                                    <a href="#" class="icon-favorite"><i class="fa fa-star-o"></i></a><a href="#" class="icon-print"><i class="fa fa-print"></i></a><a href="#" class="icon-share"><i class="fa fa-share-alt"></i></a>
                                    <div class="social-list"><a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a><a href="#" class="icon-email"><i class="fa fa-envelope-o"></i></a><a href="#" class="icon-instagram"><i class="fa fa-linkedin"></i></a><a href="#" class="icon-google"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/banner/bn1.png" alt="">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                                <h4>MÙA ƯU ĐÃI LÃI VAY</h4>
                                <h3>VAY DỄ DÀNG – LÃI HẤP DẪN</h3>
                                <h5>Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà</h5>
                                <div class="block-activity">
                                    <a href="#" class="icon-favorite"><i class="fa fa-star-o"></i></a><a href="#" class="icon-print"><i class="fa fa-print"></i></a><a href="#" class="icon-share"><i class="fa fa-share-alt"></i></a>
                                    <div class="social-list"><a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a><a href="#" class="icon-email"><i class="fa fa-envelope-o"></i></a><a href="#" class="icon-instagram"><i class="fa fa-linkedin"></i></a><a href="#" class="icon-google"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/banner/bn1.png" alt="">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                                <h4>MÙA ƯU ĐÃI LÃI VAY</h4>
                                <h3>VAY DỄ DÀNG – LÃI HẤP DẪN</h3>
                                <h5>Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà</h5>
                                <div class="block-activity">
                                    <a href="#" class="icon-favorite"><i class="fa fa-star-o"></i></a><a href="#" class="icon-print"><i class="fa fa-print"></i></a><a href="#" class="icon-share"><i class="fa fa-share-alt"></i></a>
                                    <div class="social-list"><a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a><a href="#" class="icon-email"><i class="fa fa-envelope-o"></i></a><a href="#" class="icon-instagram"><i class="fa fa-linkedin"></i></a><a href="#" class="icon-google"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/banner/bn1.png" alt="">
                <div class="caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                                <h4>MÙA ƯU ĐÃI LÃI VAY</h4>
                                <h3>VAY DỄ DÀNG – LÃI HẤP DẪN</h3>
                                <h5>Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà</h5>
                                <div class="block-activity">
                                    <a href="#" class="icon-favorite"><i class="fa fa-star-o"></i></a><a href="#" class="icon-print"><i class="fa fa-print"></i></a><a href="#" class="icon-share"><i class="fa fa-share-alt"></i></a>
                                    <div class="social-list"><a href="#" class="icon-facebook"><i class="fa fa-facebook"></i></a><a href="#" class="icon-email"><i class="fa fa-envelope-o"></i></a><a href="#" class="icon-instagram"><i class="fa fa-linkedin"></i></a><a href="#" class="icon-google"><i class="fa fa-google-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>