@model IEnumerable<VietbankWebsite.Entities.VbBanner>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="banner-section">
        <div id="banner-carousel" class="banner owl-carousel">
            @foreach (var banner in Model)
            {
                <div class="item">
                    <img src="@banner.Image" alt="">
                    <div class="caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                                    <h4>@banner.Title</h4>
                                    <h3>VAY DỄ DÀNG – LÃI HẤP DẪN</h3>
                                    <h5>Vay ô tô siêu tốc trong 8h, Vay tiêu dùng được cấp hạn mức, Vay mua BĐS, xây dựng và sửa chữa nhà</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</main>