@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="errorPage">
        <div class="container">
            <div class="error-name">404</div>
            <div class="description">@Localizer["Description"]</div>
            <div class="back-home"><a href="/" class="btn-backLink">@Localizer["BackHome"]</a></div>
        </div>
    </section>
</main>

