
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="errorPage">
        <div class="container">
            <div class="error-name">404</div>
            <div class="description">Không tìm thấy trang</div>
            <div class="back-home"><a href="/" class="btn-backLink">Quay về trang chủ</a></div>
        </div>
    </section>
</main>

