@model VietbankWebsite.ModelMap.ShareholderDetail
@{
    ViewData["Title"] = "ShareholdersDetail";
    Layout = "~/Views/Shared/_LayoutShareholder.cshtml";
}

    <section class="banner-wrap">
        <section class="breadcrumb-wrap brown">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb mrt-10">
                            <li><a href="/quan-he-co-dong">Quan hệ cổ đông</a></li>
                            <li class="active"><strong>@Model.Title</strong></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-page imageBanner">
            <div style="background-image:url('@Model.Thumbnail')" class="imgBg"></div>

            <div class="desc">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                            <h1 class="title">Đại hội đồng cổ đông</h1>
                            <div class="content">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <main style="background-color: white;">
        @Html.Raw(Model.Content)
    </main>

