<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="0UKZvTdm5alRZmyyWrB__UcHvhgf1PXJ2ArTzKWoPY8">
<link rel="canonical" href="http://@Context.Request.Host@Context.Request.Path" />
<meta property="og:title" content="@ViewData["Title"]" />
<meta property="og:type" content="website" />
<meta property="og:description" content="@ViewData["Description"]" />
<meta name="description" content="@ViewData["Description"]">
<title>@ViewData["Title"]</title>
<environment include="Development">
    <link href="~/card/css/core.css" rel="stylesheet" />
    <link href="~/card/css/main.css" rel="stylesheet" />
    <link href="~/card/css/site-card.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/css/site-card.min.css" rel="stylesheet" />
    <script type="application/ld+json">
        {
        "@@context":
        "https://schema.org",
        "@@type": "Corporation",
        "url":
        "https://www.vietbank.com.vn/",
        "logo":
        "https://www.vietbank.com.vn/Content/user/image/logo.png",
        "contactPoint": [
        { "@@type": "ContactPoint",
        "telephone": "1800 1122",
        "contactType": "customer service"
        } ] }
        { "@@context": "https://schema.org",
        "@@type": "Organization",
        "name": "VietBank",
        "legalName" : "Ngân hàng TMCP Việt Nam Thương Tín",
        "url": "https://www.vietbank.com.vn/",
        "logo": "https://www.vietbank.com.vn/Content/user/image/logo.png",
        "foundingDate": "2007",
        "founders": [
        {
        "@@type": "Person",
        "name": "Nguyen Thanh Nhung"
        },
        {
        "@@type": "Person",
        "name": "Nguyen Thanh Nhung"
        } ],
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "47 Trần Hưng Đạo",
        "addressLocality": "Tp. Sóc Trăng",
        "addressRegion": "Tỉnh Sóc Trăng",
        "postalCode": "96000",
        "addressCountry": "Vietnam"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "customer support",
        "telephone": "(+84) 1800 1122",
        "email": "callcenter@vietbank.com.vn"
        },
        "sameAs": [
        "http://www.facebook.com/elitestrategies",
        "https://instagram.com/elitestrategies",
        "http://www.linkedin.com/company/elite-strategies",
        "https://plus.google.com/106661773120082093538"
        ]}

        {
        "@@context": "http://schema.org",
        "@@type": "NewsArticle",
        "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "url-bai-viet. Vd: https://www.vietbank.com.vn/ve-vietbank/tin-tuc/tin-khuyen-mai/vietbank-tim-ra-chu-nhan-may-man-trung-thuong-10-luong-vang"
        },
        "headline": “title-bai-viet",
        "image": {
        "@@type": "ImageObject",
        "url": "feature-image",
        "height": ,
        "width":
        },
        "datePublished": "…",
        "dateModified": "…",
        "author": {
        "@@type": "Person",
        "name": “Vietbank"
        },
        "publisher": {
        "@@type": "Organization",
        "name": “Vietbank",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://www.vietbank.com.vn/Content/user/image/logo.png",
        "width": 137,
        "height": 54
        }
        },
        "description": "meta-description-bai-viet”."
        }
    </script>
</environment>