<section class="main-header">
    <div class="container">
        <div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>
        <div class="btn-showmenu"> <i class="fa fa-bars"></i></div>
        <div class="overlay"></div>
        <div class="main-menu">
            <div class="btn-closemenu">X</div>
            <div class="menu-content">
                <ul>
                    <li class="active dropdown">
                        <a href="bancan.html" data-toggle="dropdown" class="dropdown-toggle">Bạn Cần<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Chiếc xe hoàn hảo</a></li>
                            <li><a href="#">Ngôi nhà trong mơ</a></li>
                            <li><a href="#">Ước mơ du học</a></li>
                            <li><a href="#">Phát triển kinh doanh</a></li>
                            <li><a href="#">Kinh doanh chứng khoán</a></li>
                            <li><a href="#">Tiêu dùng thông minh</a></li>
                            <li><a href="#">Tích lũy hưu trí</a></li>
                            <li><a href="#">Tích lũy tương lai</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="sanpham.html" data-toggle="dropdown" class="dropdown-toggle">Sản phẩm<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tiền gửi tiết kiệm</a></li>
                            <li><a href="#">Tiền gửi thanh toán</a></li>
                            <li><a href="#">Ngân hàng điện tử</a></li>
                            <li><a href="#">Sản phẩm và dịch vụ khác</a></li>
                            <li><a href="#">Tín dụng</a></li>
                            <li><a href="#">Chuyển tiền quốc tế</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="hoidap.html" data-toggle="dropdown" class="dropdown-toggle">Hỗ trợ<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Công cụ - Tiện ích</a></li>
                            <li><a href="#">Video hướng dẫn</a></li>
                        </ul>
                    </li>
                    <li><a href="/">ưu đãi</a></li>
                </ul>
            </div>
            <nav class="mobile-menu">
                <ul id="main-nav">
                    <li class="active dropdown">
                        <a href="/" title="Khách hàng cá nhân" class="dropdown-toggle">CÁ NHÂN<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown">
                                <a href="bancan.html" class="dropdown-toggle">Bạn Cần<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Chiếc xe hoàn hảo</a></li>
                                    <li><a href="#">Ngôi nhà trong mơ</a></li>
                                    <li><a href="#">Ước mơ du học</a></li>
                                    <li><a href="#">Phát triển kinh doanh</a></li>
                                    <li><a href="#">Kinh doanh chứng khoán</a></li>
                                    <li><a href="#">Tiêu dùng thông minh</a></li>
                                    <li><a href="#">Tích lũy hưu trí</a></li>
                                    <li><a href="#">Tích lũy tương lai</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="sanpham.html" class="dropdown-toggle">Sản phẩm<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tiền gửi tiết kiệm</a></li>
                                    <li><a href="#">Tiền gửi thanh toán</a></li>
                                    <li><a href="#">Ngân hàng điện tử</a></li>
                                    <li><a href="#">Sản phẩm và dịch vụ khác</a></li>
                                    <li><a href="#">Tín dụng</a></li>
                                    <li><a href="#">Chuyển tiền quốc tế</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="hoidap.html" class="dropdown-toggle">Hỗ trợ<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Câu hỏi thường gặp</a></li>
                                    <li><a href="#">Công cụ - Tiện ích</a></li>
                                    <li><a href="#">Video hướng dẫn</a></li>
                                </ul>
                            </li>
                            <li><a href="/">ưu đãi</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="Doanh nghiệp">DOANH NGHIỆP</a></li>
                    <li class="dropdown">
                        <a href="/" title="Khách hàng cá nhân" class="dropdown-toggle">VỀ VIETBANK<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li class="active dropdown">
                                <a href="gioithieu.html" class="dropdown-toggle">Giới thiệu<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="thungo.html">Thư ngỏ của Chủ tịch</a></li>
                                    <li><a href="quatrinhphattrien.html">Quá trình phát triển</a></li>
                                    <li><a href="tamnhin-sumenh">Tầm nhìn - Sứ mệnh</a></li>
                                    <li><a href="camket.html">Chính sách chất lượng</a></li>
                                    <li><a href="camket.html">Định hướng phát triển</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="banlanhdao.html" class="dropdown-toggle">Ban lãnh đạo<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="banlanhdao.html">Hội đồng quản trị</a></li>
                                    <li><a href="#">Ban kiếm soát</a></li>
                                    <li><a href="#">Ban điều hành</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="codong.html" class="dropdown-toggle">Cổ đông<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Báo cáo thường niên</a></li>
                                    <li><a href="codong.html">Báo cáo tài chính</a></li>
                                    <li><a href="#">Báo cáo bạch</a></li>
                                    <li><a href="#">Bản tin quý</a></li>
                                    <li><a href="#">Điều lệ</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="tintuc.html" class="dropdown-toggle">Tin tức<span class="caret"><i class="fa fa-angle-down"></i></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="tintuc.html">Tin Vietbank</a></li>
                                    <li><a href="tintuc.html">Tin thị trường</a></li>
                                    <li><a href="tintuc.html">Tin khuyến mãi</a></li>
                                </ul>
                            </li>
                            <li><a href="tuyendung.html">Tuyển dụng</a></li>
                            <li><a href="lienhe.html">Liên hệ</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><a href="" class="btn-ibanking"><i class="fa fa-unlock-alt"></i><span>ngân hàng trực tuyến</span></a>
            <div class="top-contact">
                <div class="location">
                    <i class="fa fa-map-marker"> </i>
                    <p><a href="">ATM &amp; Chi nhánh</a></p>
                </div>
                <div class="phone">
                    <i class="fa fa-phone"></i>
                    <p>Hotline: <strong> <a data-tel="+8419001122">1800 1122</a></strong></p>
                </div>
            </div>
            <nav class="tool-link clearfix">
                <ul>
                    <li> <i class="fa fa-usd"></i><a href="tygia.html" title="title">Tỷ giá</a></li>
                    <li> <i class="fa fa-map-marker"></i><a href="mangluoi.html" title="title">Mạng lưới</a></li>
                    <li> <i class="fa fa-file-text-o"></i><a href="bieumau-bieuphi.html" title="title">Biểu mẫu</a></li>
                    <li> <i class="fa fa-gift"></i><a href="#" title="title">Khuyến mãi</a></li>
                    <li> <i class="fa fa-comments-o"></i><a href="hoidap.html" title="title">Hỗ trợ</a></li>
                    <li> <i class="fa fa-phone"></i><a href="lienhe.html" title="title">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>