@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="main-header">
    <div class="container">
        <div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>
        <div class="btn-showmenu"> <i class="fa fa-bars"></i></div>
        <div class="overlay"></div>
        <div class="main-menu">
            <div class="btn-closemenu">X</div>
            <div class="menu-content">
                <ul>
                    <li><a href="@Localizer["CoHoiNgheNghiepUrl"]">@Localizer["CoHoiNgheNghiep"]</a></li>
                    <li><a href="@Localizer["HuongDanNopHoSoUrl"]">@Localizer["HuongDanNopHoSo"]</a></li>
                </ul>
            </div>
            <partial name="~/Views/Partial/_MenuMobile.cshtml" />
            <partial name="~/Views/Partial/_ToolLinkMobile.cshtml" />
        </div>
    </div>
</section>