<nav class="mobile-menu">
    <ul id="main-nav">
        <li class="active dropdown">
            <a href="/" title="Sản phẩm" class="dropdown-toggle">SẢN PHẨM<span class="caret"><i class="fa fa-angle-down"></i></span></a>
            <ul class="dropdown-menu">
                <li><a href="/">Cá nhân</a></li>
                <li><a href="/">Doanh nghiệp</a></li>
                <li><a href="/">Thẻ</a></li>
            </ul>
        </li>
        <li><a href="#" title="Doanh nghiệp">QUAN HỆ CỔ ĐÔNG</a></li>
        <li><a href="#" title="Doanh nghiệp">TUYỂN DỤNG</a></li>
        <li><a href="#" title="Doanh nghiệp">VỀ VIETBANK</a></li>
    </ul>
</nav>