<div class="search">
    <div class="search-wrap">
        <input id="search-infor" placeholder=""><span class="btn-search"> <i class="fa fa-search"></i></span>
    </div>
    <div id="search-results"></div>
</div>