<a href="javascript:;" class="toggle-click"><i class="fa fa-bars"></i>Danh mục</a>
<div class="nav-toogle">
    <ul class="nav left-menusp">
        <li><a href="hoidap.html" class="active">Câu hỏi thường gặp</a></li>
        <li class="has-children">
            <a href="#">Công cụ - Tiện ích</a>
            <ul class="sub-menu">
                <li><a href="#">Tỷ giá / Lãi suất</a></li>
                <li><a href="bieumau-bieuphi.html">Biểu mẫu / Biểu phí</a></li>
                <li><a href="#">Mạng lưới</a></li>
                <li><a href="congcu-tienich.html">Công cụ tính toán</a></li>
                <li><a href="#">Xác thực bảo lãnh</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="#">Video hướng dẫn</a>
            <ul class="sub-menu">
                <li><a href="videohuongdan.html">Hướng dẫn thanh toán Online</a></li>
                <li><a href="#">Hướng dẫn bảo mật tài khoản</a></li>
                <li><a href="#">Hướng dẫn khác</a></li>
            </ul>
        </li>
    </ul>
</div>
