<section class="tool">
    <nav class="tool-link">
        <ul>
            <li> <i class="fa fa-usd"></i><a href="tygia.html" title="title">Tỷ giá</a></li>
            <li> <i class="fa fa-map-marker"></i><a href="mangluoi.html" title="title">Mạng lưới</a></li>
            <li> <i class="fa fa-file-text-o"></i><a href="#" title="title">Biểu mẫu</a></li>
            <li> <i class="fa fa-gift"></i><a href="#" title="title">Khuyến mãi</a></li>
            <li> <i class="fa fa-comments-o"></i><a href="#" title="title">Hỗ trợ</a></li>
            <li> <i class="fa fa-phone"></i><a href="#" title="title">Liên hệ</a></li>
        </ul>
    </nav>
</section>