<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-6">
                <section class="top-menu">
                    <ul>
                        <li class="active"><a href="/" title="Khách hàng cá nhân">CÁ NHÂN</a></li>
                        <li> <a href="#" title="Khách hàng cá nhân">DOANH NGHIỆP</a></li>
                        <li> <a href="gioithieu.html" title="Khách hàng cá nhân">VỀ VIETBANK</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-6">
                <section class="top-misc">
                    <div class="top-contact">
                        <div class="location">
                            <i class="fa fa-map-marker"> </i>
                            <p><a href="mangluoi.html">ATM &amp; Chi nhánh</a></p>
                        </div>
                        <div class="phone">
                            <i class="fa fa-phone"></i>
                            <p>Hotline: <strong> <a data-tel="+8419001122">1800 1122</a></strong></p>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search-wrap">
                            <input placeholder=""><span class="btn-search"> <i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="language">
                        <div class="dropdown">
                            <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">ENGLISH</a>
                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu fadeInLeft"><a href="#" class="dropdown-item">Vietnamese</a><a href="#" class="dropdown-item">English</a></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>