/**
 * ---------------------------------------------------
 * 	3.  Components
 * ---------------------------------------------------
 */
/* --------------------- 3.1 Buttons --------------------- */
.btn {
    background: #ed1c24;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 9px 15px;
    text-decoration: none;
    cursor: pointer;
}

input {
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
}

/**
 * ---------------------------------------------------
 * 	4.  Pages
 * ---------------------------------------------------
 */
/* --------------------- 4.1 Home page --------------------- */

[class*="tRes"] {
    position: relative;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tRes_80:before {
    padding-top: 80%;
}

.tRes_73:before {
    padding-top: 73% !important;
}

.tRes_70:before {
    padding-top: 70% !important;
}

.tRes_65:before {
    padding-top: 65% !important;
}

.tRes_64:before {
    padding-top: 64% !important;
}

.tRes_60:before {
    padding-top: 60% !important;
}

.tRes_30:before {
    padding-top: 30% !important;
}

[class*="tRes"]:before {
    content: "";
    padding-top: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

[class*="tRes"] > img, [class*="tRes"] > video {
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
}

.mt-50 {
    margin-top: 50px;
}

a:hover {
    text-decoration: none;
}

.container .title-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

    .container .title-menu h1 {
        font-size: 1.5rem;
        margin: 0 0 10px;
        color: #333;
        text-transform: uppercase;
    }

.container .slide-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

    .container .slide-content h4 {
        color: #0071bb;
        font-size: 1.25rem;
        margin-bottom: 30px;
    }

    .container .slide-content p {
        color: #333;
        font-size: .875rem;
    }

.container .reverse {
    flex-direction: row-reverse;
}

.container .zoom-brighten img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.container .zoom-brighten:hover img {
    filter: brightness(100%);
    transform: scale(1.2);
}

.container .zoom-basic img {
    transition: transform 2s ease;
}

.container .zoom-basic:hover img {
    transform: scale(1.2);
}

.breadcrumb-wrap {
    background: #e5e5e5;
    position: relative;
}

    .breadcrumb-wrap .breadcrumb {
        font-size: .75rem;
        font-weight: 500;
        position: relative;
        margin: 0;
        padding: 10px 0;
        background: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .breadcrumb-wrap li {
        display: block;
    }

        .breadcrumb-wrap li a {
            color: #333;
            line-height: 1.5rem;
        }

            .breadcrumb-wrap li a:hover {
                text-decoration: underline !important;
            }

        .breadcrumb-wrap li + li:before {
            content: "\f105";
            font-family: FontAwesome;
            color: #333333;
            padding: 0px 10px;
        }

.banner-wrap {
    position: relative;
}

    .banner-wrap .imgBg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;
        min-height: 355px;
        position: relative;
    }

        /*.banner-wrap .imgBg:after {
            opacity: 0.15;
            width: 40%;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            z-index: 10;
            content: "";
            background: #fff;
        }*/

    .banner-wrap .desc-banner {
        margin-top: 60px;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

        .banner-wrap .desc-banner .flex-end {
            justify-content: flex-end;
        }

        .banner-wrap .desc-banner .title {
            font-size: 2rem;
            margin: 0 0 10px;
            color: #005aaa;
            text-transform: uppercase;
        }

        .banner-wrap .desc-banner .content {
            font-size: .8125rem;
            line-height: 1.5rem;
            color: #4d4d4f;
            display: -webkit-box;
            display: box;
            display: -moz-box;
        }

            .banner-wrap .desc-banner .content img {
                margin-right: 8px;
            }

            .banner-wrap .desc-banner .content p {
                padding-right: 40px;
            }

.menu-wrap {
    position: relative;
    background: #e5e5e5;
}

    .menu-wrap .menu-horizontal {
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.4;
        position: relative;
        margin: 0;
        background: none;
        display: flex;
    }

        .menu-wrap .menu-horizontal a {
            color: #333;
            line-height: 1.5rem;
            text-decoration: none;
        }

        .menu-wrap .menu-horizontal li {
            display: block;
            padding: 10px 0;
            text-align: center;
        }

            .menu-wrap .menu-horizontal li.active {
                border-bottom: 2px solid #0071bb;
            }

                .menu-wrap .menu-horizontal li.active a {
                    color: #0071bb;
                }

    .menu-wrap .hamburger-menu {
        display: none;
    }

.swiper-main {
    position: relative;
}

.swiper-button-next:focus {
    outline: none;
}

.swiper-button-prev:focus {
    outline: none;
}

.sec_slide1 .swiper-container {
    height: 100%;
    width: 100%;
}

    .sec_slide1 .swiper-container .swiper-slide {
        width: 100%;
        background-color: white;
        overflow: hidden;
    }
    /*.sec_slide1 .swiper-container .swiper-slide.swiper-slide-active .slide-content {
      background: #005489;
      border-radius: 10px; }
      .sec_slide1 .swiper-container .swiper-slide.swiper-slide-active .slide-content h4 {
        color: #fff; }
      .sec_slide1 .swiper-container .swiper-slide.swiper-slide-active .slide-content p {
        color: #fff; }*/
    .sec_slide1 .swiper-container .slide-content {
        padding: 2.5rem;
        text-align: center;
        align-items: center;
    }

        .sec_slide1 .swiper-container .slide-content:hover {
            background: #005489;
            border-radius: 10px;
        }

            .sec_slide1 .swiper-container .slide-content:hover h4 {
                color: #fff;
            }

            .sec_slide1 .swiper-container .slide-content:hover p {
                color: #fff;
            }

.product-nature .box-img {
    width: 100%;
    display: block;
    position: relative;
}

    .product-nature .box-img img {
        border-radius: 8px;
    }

.product-nature .slide-content {
    text-align: left;
}

.interest-rate {
    position: relative;
    background: #e5e5e5;
}

    .interest-rate .img-bullet {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

        .interest-rate .img-bullet img {
            height: fit-content;
            margin-right: 20px;
        }

        .interest-rate .img-bullet h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 0;
            color: #005aaa;
        }

    .interest-rate .dflex-end {
        display: flex;
        justify-content: flex-end;
    }

    .interest-rate .btn-a {
        padding: 10px 50px;
        display: inline-table;
        border-radius: 50px;
        margin: 10px 20px 10px 0;
        border: none;
        outline: none;
    }

        .interest-rate .btn-a:hover {
            color: #fff;
            text-decoration: none;
        }

.form-index .register-guide,
.form-index .form-register {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    height: 100%;
}

    .form-index .register-guide .box-title,
    .form-index .form-register .box-title {
        color: #fff;
        background: #005489;
        padding: 20px 30px;
        text-transform: uppercase;
        border-radius: 8px 8px 0 0;
        display: flex;
        align-items: center;
    }

        .form-index .register-guide .box-title h1, .form-index .register-guide .box-title p,
        .form-index .form-register .box-title h1,
        .form-index .form-register .box-title p {
            margin-bottom: 0;
        }

        .form-index .register-guide .box-title p,
        .form-index .form-register .box-title p {
            font-size: .875rem;
            text-transform: none;
        }

        .form-index .register-guide .box-title .title,
        .form-index .form-register .box-title .title {
            margin-right: 30px;
        }

        .form-index .register-guide .box-title .icon-container,
        .form-index .form-register .box-title .icon-container {
            margin-right: 10px;
        }

.form-index .step,
.form-index .form-wrapper {
    padding: 20px 25px;
    position: relative;
}

    .form-index .step p,
    .form-index .note-form p {
        font-size: 0.875rem;
        color: #333;
    }

        .form-index .step p.title-step,
        .form-index .note-form p.title-step {
            font-weight: bold;
        }

        .form-index .step p span,
        .form-index .note-form p span {
            color: #005aaa;
            font-weight: bold;
        }

    .form-index .step:after {
        content: "";
        position: absolute;
        padding: 0 25px;
        border-bottom: 1px solid #e5e5e5;
        width: 90%;
        left: 5%;
        bottom: 0;
    }

    .form-index .form-wrapper .note-form {
        font-weight: bold;
    }

    .form-index .form-wrapper .row {
        margin-bottom: 20px;
    }

        .form-index .form-wrapper .row p {
            font-size: 0.875rem;
        }

    .form-index .form-wrapper input {
        width: 100%;
    }

    .form-index .form-wrapper .dflex-center {
        display: flex;
        justify-content: center;
    }

        .form-index .form-wrapper .dflex-center .btn-a {
            padding: 10px 60px;
            display: inline-table;
            border-radius: 50px;
            margin: 20px;
            border: none;
            outline: none;
        }

    .form-index .form-wrapper .note {
        position: relative;
        padding-top: 20px;
    }

        .form-index .form-wrapper .note .notice {
            font-size: 0.75rem;
            font-style: italic;
            color: #cccccc;
        }

        .form-index .form-wrapper .note::after {
            content: "";
            position: absolute;
            border-top: 1px solid #e5e5e5;
            width: 100%;
            top: 0;
            left: 0;
        }

.sec_slide2 {
    background: #e5e5e5;
    padding-bottom: 50px;
}

    .sec_slide2 a:hover {
        text-decoration: none;
    }

    .sec_slide2 .title-menu {
        justify-content: flex-start;
    }

    .sec_slide2 .slide-content {
        margin-top: 30px;
    }

        .sec_slide2 .slide-content p {
            max-height: 4rem;
            overflow: hidden;
            position: relative;
            word-wrap: break-word;
        }

.customers .container {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

    .customers .container:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
    }

.customers .title-menu {
    justify-content: space-between;
    position: relative;
    padding-right: 15px;
}

    .customers .title-menu a {
        font-size: 0.75rem;
        font-style: italic;
        color: #cccccc;
        font-weight: bold;
        margin-bottom: 0;
    }

        .customers .title-menu a:hover {
            text-decoration: none;
            color: #0071bb;
        }

    .customers .title-menu:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        bottom: 0;
        left: 0;
    }

.customers .list-posts {
    display: flex;
    flex-direction: column;
}

    .customers .list-posts .row {
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
    }

        .customers .list-posts .row:after {
            content: "";
            border-bottom: 1px solid #e5e5e5;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .customers .list-posts .row:last-child:after {
            border: none;
            content: "";
        }

        .customers .list-posts .row article {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
        }

        .customers .list-posts .row h4 a {
            font-size: 1.25rem;
            color: #0071bb;
        }

            .customers .list-posts .row h4 a:hover {
                color: #4d4d4d;
                text-decoration: none;
            }

        .customers .list-posts .row p {
            font-size: .875rem;
            height: 2.8rem;
            overflow: hidden;
            margin-bottom: 0;
        }

        .customers .list-posts .row .img {
            height: 100%;
        }

            .customers .list-posts .row .img img {
                border-radius: 4px;
            }

.customers-reviews .title-menu {
    justify-content: flex-start;
}

.customers-reviews video,
.customers-reviews img {
    border-radius: 4px;
}

.customers-reviews .reviews .pd-res1 {
    padding-bottom: 15px;
}

.customers-reviews .reviews .pd-res2 {
    padding-top: 15px;
}

.banner-bottom {
    background-image: url("../images/banner-bt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
}

    .banner-bottom .banner-color {
        background: #003e65;
        opacity: 0.8;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .banner-bottom .inner-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

        .banner-bottom .inner-banner img {
            margin-bottom: 20px;
        }

        .banner-bottom .inner-banner a {
            text-decoration: none;
        }

    .banner-bottom h4 {
        font-size: 1.25rem;
        color: #fff;
    }

    .banner-bottom p {
        font-size: .875rem;
        color: #fff;
        font-weight: inherit;
    }

@media only screen and (max-width: 768px) {
    .title-menu h1 {
        font-size: 1.25rem !important;
    }

    .menu-wrap {
        background: #ccc;
        position: relative;
        margin: 15px 15px 0 15px;
    }

        .menu-wrap .menu-horizontal {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 40px;
            width: 100%;
            background: #e5e5e5;
            z-index: 2;
            padding-left: 0;
        }

            .menu-wrap .menu-horizontal li {
                border-bottom: 1px solid #d9d9d9;
                text-align: left;
                padding-left: 40px;
            }

                .menu-wrap .menu-horizontal li a {
                    transition: all 0.3s ease-in-out;
                    display: block;
                }

        .menu-wrap .hamburger-menu {
            display: flex;
            align-items: center;
            height: auto;
            padding: 10px 15px;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
        }

            .menu-wrap .hamburger-menu .mobile-header-nav {
                margin-right: 10px;
            }

            .menu-wrap .hamburger-menu:hover {
                cursor: pointer;
            }

            .menu-wrap .hamburger-menu .menu-item {
                background: #fff;
                display: block;
                height: 3px;
                margin: 0 0 5px;
                transition: all 0.3s ease-in-out;
                width: 25px;
            }

            .menu-wrap .hamburger-menu.open .menu-item {
                margin: 0 0 4px;
            }

                .menu-wrap .hamburger-menu.open .menu-item:first-child {
                    transform: rotate(45deg);
                    transform-origin: 4px;
                }

                .menu-wrap .hamburger-menu.open .menu-item:nth-child(2) {
                    opacity: 0;
                }

                .menu-wrap .hamburger-menu.open .menu-item:nth-child(3) {
                    transform: rotate(-45deg);
                    transform-origin: 2px;
                }

            .menu-wrap .hamburger-menu p {
                color: #fff;
                margin-bottom: 0;
                font-size: .9375rem;
                font-weight: bold;
            }

    .banner-wrap .desc-banner {
        padding: 0 20px;
    }

        .banner-wrap .desc-banner .title {
            font-size: 1.25rem;
        }

    .product-nature .box-img {
        margin-bottom: 10px;
    }

    .interest-rate .img-bullet h1 {
        font-size: 1.25rem;
    }

    .interest-rate .dflex-end {
        justify-content: space-evenly;
    }

    .form-index .title {
        font-size: 1.25rem;
    }

    .form-index .mb-30 {
        margin-bottom: 30px;
    }

    .customers .title-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .customers-reviews .mb-30 {
        margin-bottom: 30px;
    }

    .banner-bottom h4 {
        font-size: .9375rem;
    }
}

.hidden {
    display: none;
}

.form-error{
    color:red;
    font-size:10px;
}