/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
main{
    font-style:initial !important;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

    .nav > li {
        position: relative;
        display: block;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

            .nav > li > a:hover,
            .nav > li > a:focus {
                text-decoration: none;
                background-color: #eeeeee;
            }

        .nav > li.disabled > a {
            color: #777777;
        }

            .nav > li.disabled > a:hover,
            .nav > li.disabled > a:focus {
                color: #777777;
                text-decoration: none;
                background-color: transparent;
                cursor: not-allowed;
            }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: #eeeeee;
        border-color: #337ab7;
    }

    .nav .nav-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .nav > li > a > img {
        max-width: none;
    }

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

        .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }

            .nav-tabs > li > a:hover {
                border-color: #eeeeee #eeeeee #ddd;
            }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            color: #555555;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            cursor: default;
        }

    .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0;
    }

        .nav-tabs.nav-justified > li {
            float: none;
        }

            .nav-tabs.nav-justified > li > a {
                text-align: center;
                margin-bottom: 5px;
            }

        .nav-tabs.nav-justified > .dropdown .dropdown-menu {
            top: auto;
            left: auto;
        }

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }

        .nav-tabs.nav-justified > li > a {
            margin-bottom: 0;
        }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.nav-pills > li {
    float: left;
}

    .nav-pills > li > a {
        border-radius: 4px;
    }

    .nav-pills > li + li {
        margin-left: 2px;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #337ab7;
    }

.nav-stacked > li {
    float: none;
}

    .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0;
    }

.nav-justified {
    width: 100%;
}

    .nav-justified > li {
        float: none;
    }

        .nav-justified > li > a {
            text-align: center;
            margin-bottom: 5px;
        }

    .nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }

@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

        .nav-justified > li > a {
            margin-bottom: 0;
        }
}

.nav-tabs-justified {
    border-bottom: 0;
}

    .nav-tabs-justified > li > a {
        margin-right: 0;
        border-radius: 4px;
    }

    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border: 1px solid #ddd;
    }

@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}

    .navbar-collapse.in {
        overflow-y: auto;
    }

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

        .navbar-collapse.in {
            overflow-y: visible;
        }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }

    .navbar-brand > img {
        display: block;
    }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .navbar-toggle:focus {
        outline: 0;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }

        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }

            .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-nav .open .dropdown-menu > li > a:focus {
                background-image: none;
            }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li {
            float: left;
        }

            .navbar-nav > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .navbar-form .input-group .input-group-addon,
        .navbar-form .input-group .input-group-btn,
        .navbar-form .input-group .form-control {
            width: auto;
        }

        .navbar-form .input-group > .form-control {
            width: 100%;
        }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .navbar-form .radio label,
        .navbar-form .checkbox label {
            padding-left: 0;
        }

        .navbar-form .radio input[type="radio"],
        .navbar-form .checkbox input[type="checkbox"] {
            position: relative;
            margin-left: 0;
        }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }

        .navbar-form .form-group:last-child {
            margin-bottom: 0;
        }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

    .navbar-btn.btn-sm {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar-btn.btn-xs {
        margin-top: 14px;
        margin-bottom: 14px;
    }

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }

        .navbar-right ~ .navbar-right {
            margin-right: 0;
        }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-brand {
        color: #777;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #777;
    }

    .navbar-default .navbar-nav > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #e7e7e7;
        color: #555;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
            background-color: transparent;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

    .navbar-default .navbar-link:hover {
        color: #333;
    }

.navbar-default .btn-link {
    color: #777;
}

    .navbar-default .btn-link:hover,
    .navbar-default .btn-link:focus {
        color: #333;
    }

    .navbar-default .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-default .btn-link:hover,
    .navbar-default .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-default .btn-link:focus {
        color: #ccc;
    }

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

    .navbar-inverse .navbar-brand {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-text {
        color: #9d9d9d;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav > .disabled > a,
    .navbar-inverse .navbar-nav > .disabled > a:hover,
    .navbar-inverse .navbar-nav > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #333;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #333;
        }

        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
    }

    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #080808;
        color: #fff;
    }

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
}

    .navbar-inverse .navbar-link:hover {
        color: #fff;
    }

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

    .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link:focus {
        color: #fff;
    }

    .navbar-inverse .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-inverse .btn-link:hover,
    .navbar-inverse .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-inverse .btn-link:focus {
        color: #444;
    }

.navbar-fixed-left {
    max-width: 450px;
    position: fixed;
    border-radius: 5px;
    background-color:white;

}

.navbar-fixed-right {
    max-width: 350px;
    position: fixed;
    border-radius: 5px;
    background-color: white;
    right:3%;
    z-index:1030;
    bottom:0px;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.container-map {
    position: relative;
}

#container-navbar {
    position: absolute;
    z-index: 1030;
    top: 60px;
    left: 0%;
}


.select2-selection__rendered {
    line-height: 20px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}

.container-map{
    padding:0 !important;
}

#list-branch-filter {
    max-height: 500px;
    overflow-y: scroll;
}

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#tbltygia {
    margin-bottom: 0px;
    height: 317px;
}
.left-menusp {
    background-color: #e5e5e5;
    margin: 20px 0 30px;
    padding: 0 15px;
}

#bank-agent tbody{
    max-height:unset !important;
}
/*BEGIN SEARCH*/
#search-results {
    position: absolute;
    max-width: 400px;
    word-wrap: break-word;
    margin-top: 8px;
    z-index: 10;
    right: 0px;
    font-size: .9em;
    max-height: 500px;
    overflow-y: scroll;
}

    #search-results a.list-group-item:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    #search-results .list-group-item {
        border: 0px;
        border-top: 1px dashed #ddd;
    }
/*END SEARCH*/
.content a.btn-ex {
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-block;
    padding: 6px 15px;
    color: #fff;
    background-color: #66bae2;
    margin: 0 0 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.content a.btn-ex:hover {
    background-color: #51b0de;
}

.content a.btn-ex .fa {
    margin-right: 5px;
}

.block-exchangeChart {
    padding: 30px 15px;
    background-color: #fff;
    margin-bottom: 15px;
    overflow: scroll;
}

    .block-exchangeChart .title-wrap {
        position: relative;
        margin-bottom: 20px;
    }

        .block-exchangeChart .title-wrap:after {
            content: '';
            display: table;
            clear: both;
            min-height: 1;
        }

        .block-exchangeChart .title-wrap .title-rate {
            font-size: 1.625rem;
            font-weight: 500;
            line-height: 1.4;
            margin: 0;
            float: left;
            display: block;
        }

        .block-exchangeChart .title-wrap .support-wrap {
            display: block;
            text-align: right;
            float: right;
            margin-top: 10px;
            position: relative;
        }

            .block-exchangeChart .title-wrap .support-wrap .note {
                clear: both;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

                .block-exchangeChart .title-wrap .support-wrap .note .currency {
                    font-size: 0.75rem;
                    position: relative;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #999;
                }

                    .block-exchangeChart .title-wrap .support-wrap .note .currency:before {
                        content: '';
                        position: absolute;
                        top: 7px;
                        right: calc(100% + 5px);
                        background-color: #09bff4;
                        height: 4px;
                        width: 30px;
                    }

                    .block-exchangeChart .title-wrap .support-wrap .note .currency.op-2:before {
                        background-color: #0077c2;
                    }

            .block-exchangeChart .title-wrap .support-wrap a {
                font-size: 0.75rem;
                font-weight: 500;
                color: #999;
                line-height: 1;
                margin-right: 15px;
            }

                .block-exchangeChart .title-wrap .support-wrap a img {
                    margin-right: 10px;
                    vertical-align: top;
                }

                .block-exchangeChart .title-wrap .support-wrap a span {
                    position: relative;
                    top: -6px;
                }

                .block-exchangeChart .title-wrap .support-wrap a.icon-share:hover + .social-list {
                    display: inline-block;
                }

            .block-exchangeChart .title-wrap .support-wrap .social-list {
                background-color: #fff;
                padding: 7px 15px;
                min-width: 100px;
                box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                position: absolute;
                top: calc(100% - 5px);
                right: 0;
                display: none;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

                .block-exchangeChart .title-wrap .support-wrap .social-list:hover {
                    display: block;
                }

                .block-exchangeChart .title-wrap .support-wrap .social-list a {
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 0 10px;
                }

                    .block-exchangeChart .title-wrap .support-wrap .social-list a .fa.fa-facebook {
                        color: #005489;
                    }

                    .block-exchangeChart .title-wrap .support-wrap .social-list a .fa.fa-google-plus {
                        color: red;
                    }

    .block-exchangeChart .form-group label {
        display: block;
    }

@media (max-width: 767px) {
    .block-exchangeChart .form-group label {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .block-exchangeChart .form-group label {
        width: 70px;
        float: left;
        line-height: 35px;
    }
}

.block-exchangeChart .form-group .group, .block-exchangeChart .form-group .btn-ex {
    display: block;
}

@media (max-width: 767px) {
    .block-exchangeChart .form-group .group, .block-exchangeChart .form-group .btn-ex {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .block-exchangeChart .form-group .group, .block-exchangeChart .form-group .btn-ex {
        float: left;
        width: calc(100% - 75px);
    }
}

.block-exchangeChart .form-group .btn-ex {
    position: relative;
}

    .block-exchangeChart .form-group .btn-ex > a {
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        display: block;
        position: relative;
        border-radius: 3px;
        font-size: 0.8125rem;
        color: #333;
        border: 1px solid #d9d9d9;
    }

        .block-exchangeChart .form-group .btn-ex > a:before {
            content: '\f107';
            font-family: "FontAwesome";
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            top: 8px;
            right: 10px;
            color: #333;
        }

        .block-exchangeChart .form-group .btn-ex > a img {
            max-width: 20px;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: -4px;
        }

    .block-exchangeChart .form-group .btn-ex > ul.dropdown-menu {
        margin: 0;
        padding: 0;
        right: 0;
        border-radius: 0;
    }

        .block-exchangeChart .form-group .btn-ex > ul.dropdown-menu li a {
            font-size: 0.8125rem;
            color: #333;
            padding: 10px 15px;
            display: block;
        }

            .block-exchangeChart .form-group .btn-ex > ul.dropdown-menu li a img {
                max-width: 20px;
                vertical-align: middle;
                margin-right: 10px;
                margin-top: -4px;
            }

.block-exchangeMoney {
    padding: 20px 15px;
    background-color: #fff;
    margin-bottom: 15px;
}

    .block-exchangeMoney .form-group {
        margin-bottom: 15px;
    }

@media (min-width: 768px) {
    .block-exchangeMoney .form-group {
        margin-bottom: 0;
    }
}

.block-exchangeMoney .form-group label {
    display: block;
}

@media (max-width: 767px) {
    .block-exchangeMoney .form-group label {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .block-exchangeMoney .form-group label {
        width: 65px;
        float: left;
        line-height: 35px;
        margin-right: 5px;
    }
}

.block-exchangeMoney .form-group .form-control {
    display: block;
}

@media (min-width: 768px) {
    .block-exchangeMoney .form-group .form-control {
        float: left;
    }
}

.block-exchangeMoney .form-group input[type="submit"] {
    margin-top: 0;
}

@media (min-width: 768px) {
    .block-exchangeMoney .form-group.width-full label {
        width: 135px;
    }
}

@media (min-width: 768px) {
    .block-exchangeMoney .form-group.width-full .form-control {
        width: calc(100% - 155px);
    }
}

.block-exchangeMoney .form-group .btn-ex {
    position: relative;
    width: calc(100% - 70px);
    float: left;
}

    .block-exchangeMoney .form-group .btn-ex > a {
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        display: block;
        position: relative;
        border-radius: 3px;
        font-size: 0.8125rem;
        color: #333;
        border: 1px solid #d9d9d9;
    }

        .block-exchangeMoney .form-group .btn-ex > a:before {
            content: '\f107';
            font-family: "FontAwesome";
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            top: 8px;
            right: 10px;
            color: #333;
        }

        .block-exchangeMoney .form-group .btn-ex > a img {
            max-width: 20px;
            vertical-align: middle;
            margin-right: 10px;
            margin-top: -4px;
        }

    .block-exchangeMoney .form-group .btn-ex > ul.dropdown-menu {
        margin: 0;
        padding: 0;
        right: 0;
        border-radius: 0;
    }

        .block-exchangeMoney .form-group .btn-ex > ul.dropdown-menu li a {
            font-size: 0.8125rem;
            color: #333;
            padding: 10px 15px;
            display: block;
        }

            .block-exchangeMoney .form-group .btn-ex > ul.dropdown-menu li a img {
                max-width: 20px;
                vertical-align: middle;
                margin-right: 10px;
                margin-top: -4px;
            }

.block-exchangeMoney .title-wrap {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

    .block-exchangeMoney .title-wrap:after {
        content: '';
        display: table;
        clear: both;
        min-height: 1;
    }

    .block-exchangeMoney .title-wrap .title-exchange {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.4;
        color: #999;
        margin-bottom: 10px;
    }

@media (min-width: 768px) {
    .block-exchangeMoney .title-wrap .title-exchange {
        float: left;
        margin-bottom: 0;
    }
}

.block-exchangeMoney .title-wrap .support-wrap {
    display: block;
    position: relative;
    text-align: right;
}

@media (min-width: 768px) {
    .block-exchangeMoney .title-wrap .support-wrap {
        float: right;
    }
}

.block-exchangeMoney .title-wrap .support-wrap a {
    font-size: 0.75rem;
    font-weight: 500;
    color: #999;
    line-height: 1;
    margin-right: 15px;
}

    .block-exchangeMoney .title-wrap .support-wrap a img {
        margin-right: 10px;
        vertical-align: top;
    }

    .block-exchangeMoney .title-wrap .support-wrap a span {
        position: relative;
        top: -2px;
    }

    .block-exchangeMoney .title-wrap .support-wrap a.icon-share:hover + .social-list {
        display: inline-block;
    }

.block-exchangeMoney .title-wrap .support-wrap .social-list {
    background-color: #fff;
    padding: 7px 15px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    min-width: 100px;
    position: absolute;
    top: calc(100% - 5px);
    right: 0;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .block-exchangeMoney .title-wrap .support-wrap .social-list:hover {
        display: block;
    }

    .block-exchangeMoney .title-wrap .support-wrap .social-list a {
        font-size: 1rem;
        font-weight: 500;
        margin: 0 10px;
    }

        .block-exchangeMoney .title-wrap .support-wrap .social-list a .fa.fa-facebook {
            color: #005489;
        }

        .block-exchangeMoney .title-wrap .support-wrap .social-list a .fa.fa-google-plus {
            color: red;
        }

.block-exchangeMoney .exchange-list .item-exm {
    position: relative;
    margin-bottom: 30px;
}

    .block-exchangeMoney .exchange-list .item-exm:after {
        content: '';
        display: table;
        min-height: 1;
        clear: both;
    }

    .block-exchangeMoney .exchange-list .item-exm .flag {
        display: block;
        width: 50px;
        float: left;
    }

        .block-exchangeMoney .exchange-list .item-exm .flag img {
            vertical-align: middle;
            line-height: 1;
            margin-top: 5px;
        }

    .block-exchangeMoney .exchange-list .item-exm .ex-info {
        width: calc(100% - 50px);
        float: left;
    }

        .block-exchangeMoney .exchange-list .item-exm .ex-info .rate {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.5;
            color: #333;
        }

        .block-exchangeMoney .exchange-list .item-exm .ex-info .unit {
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.4;
            color: #666;
        }

        .block-exchangeMoney .exchange-list .item-exm .ex-info .ex {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.4;
            color: #999;
        }

.border-bottom-none {
    border-bottom: none !important;
}

.border-bottom-white {
    border-bottom: 1px solid #fff !important;
}

.mw100 {
    max-width: 100%;
}

.bold {
    font-weight: bold !important;
}

.text-left {
    text-align: left !important;
}

#wrapper {
    display: block;
    max-width: 100%;
    overflow: hidden;
    background-color:white;
}


.fa-home:before {
    content: '\f015';
}

/*============================Page 1 & All Page===============================*/
.fullpage-form {
    padding: 30px 20px;
    border: 2px solid #0C56A5;
}

.inner {
    max-width: 1200px;
    margin: auto;
}

.main-header-form .logo {
    padding: 20px 0px;
}

    .main-header-form .logo img {
        width: 25%;
    }

.main-header-form .title-main h1 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0px;
}

.main-header-form .description-header p {
    text-align: center;
    color: #333;
    text-transform: uppercase;
    margin: 5px 0px;
    font-size: 25px;
}

.law p {
    text-align: center;
    margin: 5px 0px;
}

.main-form{
    background-color:white;
}

.main-form .title-cat h4 {
    text-transform: uppercase;
    color: #f00;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-form .box-item {
    margin-bottom: 30px;
}

    .main-form .box-item .title-content {
        font-weight: bold;
        color: #333;
        margin: 10px 0px;
    }

    .main-form .box-item .note {
        margin-top: 10px;
        color: #414042;
    }

.fullpage-1 .contact-footer {
    display: flex;
    align-items: center;
    float: right;
}

    .fullpage-1 .contact-footer span {
        padding: 0px 10px;
    }

    .fullpage-1 .contact-footer .hotline, .contact-footer .website {
        padding: 0px 10px;
    }

    .fullpage-1 .contact-footer .hotline {
        border-right: 1px solid #444;
    }

/*============================Page 1===============================*/
.fullpage-1 {
    max-width: 100%;
    margin: 30px;
    border: 5px solid #0054a6;
    padding: 30px
}

    .fullpage-1 .title-cat {
        margin-left: 30px;
    }

    .fullpage-1 .main-form .title-content {
        margin-left: 50px;
    }

table, th, td {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.fullpage-1 table th {
    color: #fff;
    background-color: #0055AA;
}

.fullpage-1 table tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #333;
    border-right: 4px solid #fff;
}

.fullpage-1 table tr:first-child th:nth-child(2) {
    border: 1px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0 10px 0 0;
}

.fullpage-1 table tr:nth-child(2) th {
    background-color: #00b0f0;
    border-bottom: 3px solid #fff;
}

    .fullpage-1 table tr:nth-child(2) th:not(:last-child) {
        border-right: 3px solid #fff;
    }

.fullpage-1 table tr:nth-child(3) th:not(:last-child) {
    border-right: 3px solid #fff;
}

.fullpage-1 table tr:nth-child(3) th:last-child {
    border-right: 1px solid #fff;
}

.fullpage-1 table tr td:first-child {
    color: #333;
}

.fullpage-1 table tr td:not(:first-child) {
    color: #666;
}
/*Table 1 page 1*/
.fullpage-1 table tr {
    height: 30px;
}

    .fullpage-1 table tr td {
        color: #414042;
    }

.fullpage-1 table.table-1 tr td:first-child {
    color: #231f20;
    font-weight: bold;
    padding-left: 30px;
    text-align: left;
}
/*Table 2 page 1*/
.fullpage-1 table.table-2 tr:nth-child(2) th {
    border-bottom: none;
}
/*Table 3 page 1*/
.fullpage-1 table.table-3 tr:nth-child(2) th {
    border-bottom: none;
}
/*Table 4 page 1*/
table tr:first-child th:first-child {
    border-right: 2px solid #fff;
}

.fullpage-1 table.table-4 tr:first-child th:first-child, .fullpage-1 table.table-4 tr:nth-child(9) th:first-child {
    border-right: 2px solid #fff;
}

/*============================Page 2===============================*/
.fullpage-2 .title-main h1 {
    color: #444;
}

.fullpage-2 .description-header p {
    color: #444;
}

.fullpage-2 .law p {
    color: #444;
    font-style: italic;
}

.fullpage-2 .main-form .title-cat h4 {
    color: #0054a6;
    font-size: 20px;
}

.fullpage-2 .main-form .box-item .title-content {
    color: #0054a6;
    font-weight: normal;
}

.fullpage-2 table th, .fullpage-2 table td {
    border: 1px solid #444;
}

.fullpage-2 table tr {
    height: 30px;
}

    .fullpage-2 table tr th {
        background: #0054a6;
        color: #fff;
    }

    .fullpage-2 table tr:first-child th:first-child {
        border: none;
        border-radius: 10px 0 0 0;
        border-right: 4px solid #fff;
    }

    .fullpage-2 table tr:first-child th:last-child {
        border: none;
        border-radius: 0 10px 0 0;
        border-bottom: 3px solid #fff;
    }

    .fullpage-2 table tr:nth-child(2) th:not(:last-child) {
        border-right: 3px solid #fff;
    }

.fullpage-2 table.table-3-2 tr:nth-child(2) th {
    border-bottom: 3px solid #fff;
}

.fullpage-2 table.table-3-2 tr:nth-child(3) th {
    background: #00b0f0;
}

    .fullpage-2 table.table-3-2 tr:nth-child(3) th:not(:last-child) {
        border-right: 3px solid #fff;
    }

/*============================Page 3===============================*/
.fullpage-3 {
    max-width: 100%;
    margin: 30px;
    border: 1px solid #0054a6;
    padding: 30px
}

    .fullpage-3 .main-header-form .logo img {
        width: 30%;
    }

    .fullpage-3 .main-form {
        padding: 50px 0px;
        box-sizing: border-box;
    }

    .fullpage-3 .main-header-form .title-main h1 {
        color: #0C56A5;
        font-size: 40px;
    }

    .fullpage-3 .box-content {
        box-sizing: border-box;
    }

    .fullpage-3 .title-content {
        display: inline-block;
        position: relative;
    }

    .fullpage-3 .box-content p.description {
        margin: 10px 0px 10px 40px;
    }

    .fullpage-3 .box-content p.inline-block {
        display: inline-block;
    }

    .fullpage-3 .title-content span {
        padding: 5px;
        max-width: 100%;
        background: #e60000;
        color: #fff;
    }

        .fullpage-3 .title-content span.shape {
            width: 30px;
            height: 28px;
            background: #e60000;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
            position: absolute;
            top: -5px;
            right: -29px;
            box-sizing: border-box;
        }

    .fullpage-3 .box-content .calculation span.title-cal {
        position: relative;
        padding-left: 30px;
        font-weight: bold;
    }

        .fullpage-3 .box-content .calculation span.title-cal:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
            background: #0C56A5;
            left: 10px;
            top: 3px;
        }

    .fullpage-3 .box-content .calculation .recipe-1, .recipe-3 {
        padding: 30px 10px 30px;
    }

    .fullpage-3 .box-content .calculation .recipe-2 {
        padding: 10px 10px 30px;
    }

        .fullpage-3 .box-content .calculation .recipe-2 p {
            display: inline-block;
            padding: 20px;
            background: #0655a2;
            color: #fff;
            border-radius: 10px;
            margin: 0px;
        }

    .fullpage-3 .contact-footer ul {
        text-align: center;
        list-style: none;
        margin: 0px;
    }

        .fullpage-3 .contact-footer ul li {
            display: inline-block;
            padding: 0px 20px;
        }

            .fullpage-3 .contact-footer ul li:first-child {
                border-right: 1px solid #333;
            }

    .fullpage-3 table.formula {
        color: #fff;
        box-sizing: border-box;
    }

        .fullpage-3 table.formula tr:first-child th {
            text-align: right;
            padding-right: 10px;
        }

        .fullpage-3 table.formula tr th ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .fullpage-3 table.formula tr th ul li {
                padding: 10px 0px;
                width: 90%;
            }

                .fullpage-3 table.formula tr th ul li:first-child {
                    border-bottom: 1px solid #fff;
                }

    .fullpage-3 .recipe-1 table.formula {
        border: none;
        margin: 0px;
        width: 500px;
        height: 50px;
        background: #0655a2;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .fullpage-3 .recipe-3 table.formula {
        border: none;
        margin: 0px;
        width: 700px;
        height: 70px;
        background: #0655a2;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .fullpage-3 table.formula tr th {
        background: transparent;
        border: none;
        border-radius: 0px;
    }

/*============================Page 4===============================*/


/*============================Page 5===============================*/


.fullpage-5 {
    max-width: 100%;
    margin: 30px;
    border: 5px solid #006fc0;
    padding: 30px;
    position: relative;
}

    .fullpage-5 .main-header-form .title-main h1 {
        color: #0064A3;
    }

    .fullpage-5 .main-header-form .apply-time p {
        text-align: center;
        color: #333;
    }

    .fullpage-5 .note .note-1 {
        margin-top: 10px;
    }

    .fullpage-5 .note .note-2 p:first-child {
        text-decoration: underline;
        font-weight: bold;
    }

    .fullpage-5 .note .note-2 p:not(:first-child) {
        padding-left: 50px;
        position: relative;
    }

        .fullpage-5 .note .note-2 p:not(:first-child):before {
            content: '-';
            position: absolute;
            left: 0;
        }

    .fullpage-5 table.table-1-5, .fullpage-5 table.table-2-5, .fullpage-5 table.table-1-5 th, .fullpage-5 table.table-1-5 td, .fullpage-5 table.table-2-5 tr th, .fullpage-5 table.table-2-5 tr td {
        border: 1px dashed #333;
    }

        .fullpage-5 table.table-1-5 tr td, .fullpage-5 table.table-2-5 tr td {
            color: #333;
            height: 30px;
        }

            .fullpage-5 table.table-1-5 tr td:not(:first-child) {
                text-align: left;
                padding-left: 10px;
            }

        .fullpage-5 table.table-1-5 tr:first-child th, .fullpage-5 table.table-2-5 tr:first-child th {
            background: #0064A3;
            height: 30px;
            border-radius: 0px;
            border: 1px dashed #333;
        }

        .fullpage-5 table.table-1-5 tr:nth-child(2) th, .fullpage-5 table.table-2-5 tr:nth-child(2) th, .fullpage-5 table.table-2-5 tr:nth-child(3) th {
            height: 30px;
            background: #FFC50C;
            color: #000;
            border: 1px dashed #333;
        }

/*============================Page 6===============================*/

.fullpage-6 .main-header-form .law p {
    width: 40%;
    margin: 10px auto 30px;
}

.fullpage-6 table.table-6, th, td {
    border: 1px solid #749fc9;
}

    .fullpage-6 table.table-6 tr:first-child th {
        border: 1px solid #749fc9;
        background: #15a;
        border-radius: 0px;
        height: 50px;
        color: #fff;
    }

    .fullpage-6 table.table-6 tr:nth-child(2) th {
        height: 50px;
        background: #15a;
        border: 1px solid #749fc9;
        color: #fff;
    }

    .fullpage-6 table.table-6 tr:nth-child(n+3) th {
        background: #cef;
        text-align: left;
        color: #222;
        padding-left: 20px;
        height: 30px;
        border-bottom: 1px solid #cef;
    }

    .fullpage-6 table.table-6 tr td {
        height: 30px;
        color: #222;
    }

        .fullpage-6 table.table-6 tr td:first-child {
            text-align: left;
            padding-left: 20px;
        }

.fullpage-6 .note p {
    color: #d23;
}

.fullpage-6 .contact p.title-contact {
    color: #222;
    font-weight: bold;
    margin: 5px 0px;
}

.fullpage-6 .contact p:not(:first-child) {
    display: inline-block;
    padding-right: 20px;
}

.fullpage-6 .contact p {
    position: relative;
}

    .fullpage-6 .contact p:after {
        content: '-';
        position: absolute;
        right: 5px;
    }

    .fullpage-6 .contact p:last-child:after {
        display: none;
    }

    .fullpage-6 .contact p span {
        font-weight: bold;
    }

/*============================Page 7===============================*/

.fullpage-7 {
    max-width: 100%;
    margin: 30px;
    border: 5px solid #0054a6;
    padding: 30px
}

    .fullpage-7 .main-header-form .title-main h1 {
        color: #05a;
    }

    .fullpage-7 .main-header-form .description-header p {
        color: #05a;
        font-size: 25px;
    }

    .fullpage-7 .main-header-form .apply-time p {
        text-align: center;
        color: #333;
    }

    .fullpage-7 .main-form .title-cat h4 {
        margin: 0px;
        padding: 5px;
        background: #0bf;
        color: #fff;
    }

    .fullpage-7 .main-form .page-7 {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

        .fullpage-7 .main-form .page-7:nth-of-type(2) {
            max-width: 100%;
            grid-template-columns: 1fr;
        }

    .fullpage-7 .contact-footer ul {
        text-align: right;
        list-style: none;
        margin: 0px;
    }

        .fullpage-7 .contact-footer ul li {
            display: inline-block;
            padding: 0px 20px;
        }

            .fullpage-7 .contact-footer ul li:first-child {
                border-right: 1px solid #333;
            }

    .fullpage-7 table, .fullpage-7 table th, .fullpage-7 table td {
        border: 1px solid #333 !important;
        color: #000 !important;
    }

        .fullpage-7 table tr {
            height: 30px;
        }

        .fullpage-7 table.table-1-7 tr:first-child th, .fullpage-7 table.table-2-7 tr:first-child th {
            border-top: 1px solid #0054a6;
            background: #0054a6;
            border-radius: 0px;
            text-align: left;
            padding-left: 5px;
            color: #fff !important;
        }

        .fullpage-7 table.table-1-7 tr:nth-child(2) th, .fullpage-7 table.table-1-7 tr:nth-child(3) th {
            background: #fff;
            color: #222;
        }

        .fullpage-7 table.table-2-7 tr:nth-child(2) th, .fullpage-7 table.table-2-7 tr:nth-child(3) th {
            background: #fff;
            color: #000;
        }

        .fullpage-7 table.table-2-7 tr td:first-child {
            width: 15%;
        }

/*============================Page 8===============================*/

/*============================Page 9, Page 11, Page 13===============================*/

.fullpage-9, .fullpage-11, .fullpage-13 {
    max-width: 100%;
    margin: 30px;
}

    .fullpage-9 .main-header-form .title-main, .fullpage-11 .main-header-form .title-main, .fullpage-13 .main-header-form .title-main {
        margin-bottom: 30px;
    }

        .fullpage-9 .main-header-form .title-main h1, .fullpage-11 .main-header-form .title-main h1, .fullpage-13 .main-header-form .title-main h1 {
            color: #531;
            background: #fed;
            font-size: 25px;
        }

    .fullpage-9 table, .fullpage-9 table th, .fullpage-9 table td,
    .fullpage-11 table, .fullpage-11 table th, .fullpage-11 table td,
    .fullpage-11 table, .fullpage-13 table th, .fullpage-13 table td {
        border: 1px solid #000 !important;
        color: #000 !important;
    }

        .fullpage-9 table tr, .fullpage-11 table tr, .fullpage-13 table tr {
            height: 30px;
        }

            .fullpage-9 table tr th {
                border-top: 2px solid #000 !important;
                border-bottom: 2px solid #000 !important;
                background: #efe;
            }

            .fullpage-9 table tr:first-child th, .fullpage-11 table tr:first-child th, .fullpage-13 table tr:first-child th {
                border-radius: 0px;
                background: #fed;
            }

            .fullpage-9 table tr:not(:first-child) th:not(:first-child), .fullpage-9 table tr:not(:first-child) td:not(:first-child) {
                text-align: left;
            }

            .fullpage-9 table tr:nth-child(8) td:last-child ul, .fullpage-9 table tr:nth-child(12) td:nth-child(2) ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

                .fullpage-9 table tr:nth-child(8) td:last-child ul li, .fullpage-9 table tr:nth-child(12) td:nth-child(2) ul li {
                    padding: 5px 0px;
                }


            /*============================Page 10===============================*/

            /*============================Page 11===============================*/

            .fullpage-11 table tr td {
                vertical-align: text-top;
            }

                .fullpage-11 table tr td:nth-child(2) {
                    width: 50%;
                }

                .fullpage-11 table tr td:not(:first-child) {
                    text-align: left;
                    padding-left: 5px;
                }

                .fullpage-11 table tr td ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                    .fullpage-11 table tr td ul li {
                        margin: 10px 0px;
                    }

            .fullpage-11 table tr:nth-child(2) td ul li, .fullpage-13 table tr:nth-child(22) td ul li {
                padding-left: 20px;
                position: relative;
            }

                .fullpage-11 table tr:nth-child(2) td ul li:before, .fullpage-13 table tr:nth-child(22) td ul li:before {
                    content: '-';
                    left: 0px;
                    position: absolute;
                }

            /*============================Page 12===============================*/

            /*============================Page 13===============================*/

            .fullpage-13 table tr:not(:first-child) th:not(:first-child),
            .fullpage-13 table tr:not(:first-child) td:not(:first-child) {
                text-align: left;
                padding-left: 5px;
            }

            .fullpage-13 table tr th {
                background: #e2efd9;
            }

                .fullpage-13 table tr th:nth-child(3) {
                    font-weight: normal;
                }

                .fullpage-13 table tr th ul, .fullpage-13 table tr td ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                    .fullpage-13 table tr th ul li, .fullpage-13 table tr td ul li {
                        margin: 10px 0px;
                    }
