
@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="gioithieu.html">Về Vietbank</a></li>
                        <li class="active"><span>Liên hệ</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_lienhe.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">Liên hệ</h1>
                        <div class="content">Chúng tôi luôn sẵn sàng lắng nghe và phục vụ bạn mỗi khi bạn cần.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="block-info-wrap">
                        <div class="block-addr">
                            <h1>Trụ sở Vietbank</h1>
                            <p class="addr"><strong>Địa chỉ: </strong>47 Trần Hưng Đạo, thành phố Sóc Trăng, Tỉnh Sóc Trăng <a href="#"><i class="fa fa-angle-right"></i> Xem bản đồ</a></p>
                            <p><strong>Điện thoại: </strong>(079) 3 88 66 66</p>
                            <p><strong>Fax: </strong>(079) 3 615 666</p>
                            <p><strong>Email: </strong>callcenter@vietbank.com.vn </p>
                            <p><strong>Swift Code: </strong>Code: VNTTVNVX</p>
                        </div>
                        <div class="block-atmLink">
                            <h2>Mạng lưới ATM/ Điểm giao dịch/ Điểm đổi ngoại tệ mặt</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text">Tìm chi nhánh ngân hàng và mạng lưới ATM trên khắp Việt Nam</div><a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        Tìm ngay
                                    </a>
                                </div>
                                <div class="col-md-6"><img src="/img/bando_icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="block-form">
                        <p class="title">Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho Vietbank, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Họ tên người gửi
                                    (<span class="red">*</span>):
                                </label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>Điện thoại:</label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Ngành nghề:</label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Email
                                    (<span class="red">*</span>):
                                </label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Địa chỉ:</label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Tiêu đề
                                    (<span class="red">*</span>):
                                </label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    Nộ dung
                                    (<span class="red">*</span>):
                                </label>
                                <textarea id="text"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    Mã xác nhận
                                    (<span class="red">*</span>):
                                </label>
                                <div class="captcha-box clearfix">
                                    <img src="/img/captcha.png"><a href="#"><i class="fa fa-refresh"></i></a>
                                    <input name="captcha">
                                </div>
                            </div>
                        </div>
                        <div class="row mrt-30">
                            <div class="col-sm-12"><a href="#" class="confirm">Gửi</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

