@addTagHelper *, Microsoft.AspNetCore.Mvc.*
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="gioithieu.html">Về Vietbank</a></li>
                        <li><a href="gioithieu.html">Giới thiệu</a></li>
                        <li class="active"><span>Định hướng phát triển</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_camket.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title bottom">Định hướng phát triển</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="tamnhin-camket">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="/img/camket/thoamannhucau.png" alt="Thoa man nhu cau khach hang"></div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">Thỏa mãn các nhu cầu khách hàng</h1>
                                    <div class="desc">
                                        <p>- Luôn phục vụ khách hàng với thái độ tận tâm;</p>
                                        <p>- Mở rộng mạng lưới hoạt động, đa dạng hóa các sản phẩm dịch vụ phù hợp với từng đối tượng khách hàng;</p>
                                        <p>- Đầu tư công nghệ thông tin, làm cơ sở cho việc phát triển các sản phẩm ứng dụng phương thức giao dịch hiện đại giữa khách hàng với Vietbank;</p>
                                        <p>- Không ngừng học hỏi, từng bước hoàn thiện mô hình tổ chức, quy trình nghiệp vụ và các hoạt động của Vietbank;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h2 class="title">Tôn trọng &amp; Đảm bảo quyền lợi của nhân viên</h2>
                                    <div class="desc">
                                        <p>- Mỗi CBNV của Vietbank được xem là một cổ đông với vốn góp là năng lực, nhiệt huyết, sự tận tâm hết mình vì công việc. </p>
                                        <p>- CBNV của Vietbank được hưởng:</p>
                                        <p>
                                            + Mức thu nhập cạnh tranh<br>
                                            + Chế độ phúc lợi thỏa đáng<br>
                                            + Sự thăng tiến về vị trí và chuyên môn<br>
                                            + Cơ hội được rèn luyện
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="/img/camket/tontrongquyenloinhanvien.png" alt="Ton trong quyen loi nhan vien"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="/img/camket/duytringuyentacquantri.png" alt="Duy tri nguyen tac quan tri"></div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h3 class="title">Duy trì nguyên tắc quản trị &amp; Điều hành minh bạch</h3>
                                    <div class="desc">
                                        <p>- Đảm bảo sự phát triển an toàn của Vietbank</p>
                                        <p>- Giữ gìn đạo đức trong kinh doanh</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h4 class="title">Thực hiện trách nhiệm với cộng đồng</h4>
                                    <div class="desc">
                                        <p>- Tuân thủ đầy đủ các quy định của pháp luật</p>
                                        <p>- Mỗi thành viên của Vietbank có trách nhiệm với gia đình, cộng đồng &amp; môi trường thể hiện qua các hành động cụ thể hàng ngày.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="/img/camket/thuchientrachnhiemcongdong.png" alt="Thu hien trach nhiem cong dong"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
