@model VietbankWebsite.ModelMap.ContactResponseToUser
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<h4>Chào bạn!</h4>
<h6>@Model.Message</h6>

<p>Vietbank - Ngân hàng TMCP Việt Nam Thương Tín</p>
<p><a href="https://www.vietbank.com.vn/">www.vietbank.com.vn</a></p>