
@{
    ViewData["Title"] = "Calculation";
    Layout = "~/Views/Shared/_LayoutEnterprise.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="index.html">Cá nhân</a></li>
                        <li><a href="hoidap.html">Hỗ trợ</a></li>
                        <li class="active"><span>Câu hỏi thường gặp</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_bieuphi.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">Câu hỏi thường gặp</h1>
                        <div class="content">Đồng hành cùng nhu cầu của bạn mọi lúc mọi nơi</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <partial name="~/Views/Partial/_ToolCalulationBar.cshtml" />
            </div>
            <div class="col-xs-12 col-lg-9">
                <section class="hotro-ct">
                    <h1 class="title">Công cụ tính toán                                                                                                                                                                                       </h1>
                    <div id="support-enterprise">

                        <div class="tab-content">
                            <div role="tabpanel" class="thetindung tab-pane active" id="enterprise-tab1">
                                <div class="block-revive">
                                    <div class="row flex flex-wrap">
                                        <div class="col-xs-12 col-md-4">
                                            <h3 class="title-deposits">Chọn Loại sản phẩm của bạn:</h3>
                                            <div class="box-deposits mCustomScrollbar">

                                                <div class="checkbox">
                                                    <input checked="" type="radio" class="button-radio" name="kind" data-id="kind_1963" id="kind_1">
                                                    <label for="kind_1">Tiền gửi có kỳ hạn truyền thống</label>
                                                </div>
                                                <div class="checkbox">
                                                    <input type="radio" class="button-radio" name="kind" data-id="kind_1964" id="kind_2">
                                                    <label for="kind_2">Tiền gửi đầu tư linh hoạt</label>
                                                </div>
                                                <div class="checkbox">
                                                    <input type="radio" class="button-radio" name="kind" data-id="kind_1965" id="kind_3">
                                                    <label for="kind_3">Tiền gửi đa tiện ích</label>
                                                </div>
                                                <div class="checkbox">
                                                    <input type="radio" class="button-radio" name="kind" data-id="kind_3996" id="kind_4">
                                                    <label for="kind_4">Tiền gửi siêu linh hoạt</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">


                                            <div id="kind_1963" class="table-responsive table-radio hidden">
                                                <div class="table-responsive">
                                                    <table class="table" width="100%" height="100%" border="có">
                                                        <caption></caption>
                                                        <thead>
                                                            <tr>
                                                                <th style="border-color: den;">&nbsp;</th>
                                                                <th style="border-color: den;" colspan="2">VND (%/năm)</th>
                                                                <th style="border-color: den;">USD/ AUD (*)</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="border-color: den;">Kỳ hạn</th>
                                                                <th style="border-color: den;">Lãi cuối kỳ</th>
                                                                <th style="border-color: den;">Lãi hàng quý</th>
                                                                <th style="border-color: den;">Lãi cuối kỳ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1 tuần</td>
                                                                <td>0.30 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2 tuần</td>
                                                                <td>0.30 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3 tuần</td>
                                                                <td>0.50 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>1 tháng</td>
                                                                <td>5.00 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2 tháng</td>
                                                                <td>5.00 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3 tháng</td>
                                                                <td>5.10 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>4 tháng</td>
                                                                <td>5.20 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>5 tháng</span></td>
                                                                <td><span>5.20 %</span></td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>6 tháng</span></td>
                                                                <td>6.40 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>7 tháng</td>
                                                                <td><span>6.40 %</span></td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>8 tháng</span></td>
                                                                <td><span>6.40 %</span></td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span>9 tháng</span></td>
                                                                <td>6.50 %</td>
                                                                <td>6.39 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>10 tháng</td>
                                                                <td>6.50 %</td>
                                                                <td>6.39 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>11 tháng</td>
                                                                <td>6.50 %</td>
                                                                <td>6.39 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>12 tháng</td>
                                                                <td>6.90 %</td>
                                                                <td>6.73 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>13 tháng</td>
                                                                <td>6.90 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>15 tháng</td>
                                                                <td>7.20 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>18 tháng</td>
                                                                <td>7.30 %</td>
                                                                <td>6.92 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>24 tháng</td>
                                                                <td>7.40 %</td>
                                                                <td>6.98 %</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>36 tháng</td>
                                                                <td>7.50 %</td>
                                                                <td>-</td>
                                                                <td><span>0.00 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"><em>(*) Đối với loại tiền AUD tối thiểu 10,000 AUD/món và chỉ áp dụng tại địa bàn Hà Nội và Hồ Chí Minh.</em></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="kind_1964" class="table-responsive table-radio hidden">
                                                <div class="table-responsive">
                                                    <table class="table" width="100%" border="có">
                                                        <thead>
                                                            <tr>
                                                                <th style="border-color: den;">Kỳ hạn</th>
                                                                <th style="border-color: den;">Lãi suất(%/năm)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1 tháng</td>
                                                                <td>5.00%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2 tháng</td>
                                                                <td>5.10 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3 tháng</td>
                                                                <td>5.20 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6 tháng</td>
                                                                <td>6.40 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9 tháng</td>
                                                                <td>6.50 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>12 tháng</td>
                                                                <td>6.90 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>13 tháng</td>
                                                                <td>7.00 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>15 tháng</td>
                                                                <td>7.10 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>18 tháng</td>
                                                                <td>7.30 %</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="kind_1965" class="table-responsive table-radio hidden">
                                                <div class="table-responsive">
                                                    <table class="table" width="100%" border="có">
                                                        <caption></caption>
                                                        <thead>
                                                            <tr>
                                                                <th style="border-color: den;">&nbsp;</th>
                                                                <th style="border-color: den;" colspan="3">Lãi suất(%/năm)</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="border-color: den;">Kỳ hạn</th>
                                                                <th style="border-color: den;">Lãi cuối kỳ</th>
                                                                <th style="border-color: den;">Lãi hàng quý</th>
                                                                <th style="border-color: den;">Lãi hàng tháng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>13 tháng</td>
                                                                <td>7.00 %</td>
                                                                <td>6.81 %</td>
                                                                <td><span>6.76 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>15 tháng</td>
                                                                <td>7.30 %</td>
                                                                <td>7.02 %</td>
                                                                <td><span>6.98 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>18 tháng</td>
                                                                <td>7.30 %</td>
                                                                <td>6.96 %</td>
                                                                <td><span>6.91 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>24 tháng</td>
                                                                <td>7.30 %</td>
                                                                <td>6.83 %</td>
                                                                <td><span>6.78 %</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>36 tháng</td>
                                                                <td>7.30 %</td>
                                                                <td>6.58 %</td>
                                                                <td><span>6.54 %</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="kind_3996" class="table-responsive table-radio">
                                                <div class="table-responsive">
                                                    <table class="table" width="100%" border="có">
                                                        <caption></caption>
                                                        <thead>
                                                            <tr>
                                                                <th style="border-color: den;">Kỳ hạn</th>
                                                                <th style="border-color: den;">Lãi suất (%/năm)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1 tháng</td>
                                                                <td>5.00 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3 tháng</td>
                                                                <td>5.20 %</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6 tháng</td>
                                                                <td>5.90 %</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row flex flex-wrap">
                                        <div class="col-xs-12 col-md-5">
                                            <div class="form-group">
                                                <label>Số tiền gửi:</label>
                                                <div class="group">
                                                    <input id="so-tien-goi-enterprise" value="" class="form-control"><span class="unit">VND</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Kỳ lãnh lãi:</label>
                                                <div class="group">
                                                    <select id="ky-lanh-lai-enterprise" class="form-control">
                                                        <option value=""></option>
                                                        <option value="tuần">Tuần</option>
                                                        <option value="quý">Quý</option>
                                                        <option value="tháng">Tháng</option>
                                                        <option value="năm">Năm</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Kỳ hạn gửi:</label>
                                                <div id="ky-hang-gui-enterprise" class="group">
                                                    <input disabled="disabled" class="form-control"><span class="unit"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Lãi suất:</label>
                                                <div class="group">
                                                    <input id="lai-suat-enterprise" value="" class="form-control"><span class="unit">%</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Cách tính:</label>
                                                <div class="group">
                                                    <select id="cach-tinh-enterprise" class="form-control">
                                                        <option value="0">Tiền lãi định kỳ</option>
                                                        <option value="1">Tiền lãi cuối kỳ</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input id="uoc-tinh-enterprise" type="submit" value="Ước tính">
                                            </div>
                                            <div class="form-group">
                                                <p style="font-size:0.8125rem;">(*) Quý khách hàng vui lòng tham khảo lãi suất (%/ năm) trên bảng để nhập.</p>
                                                <p style="font-size:0.8125rem;">Bảng tính chỉ mang tính chất tham khảo</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-7">
                                            <div class="result">
                                                <h3>Kết Quả</h3>
                                                <div class="item-result"><strong>Tiền lãi định kỳ: </strong><span class="tien-lai-dinh-ky"></span></div>
                                                <div class="item-result"><strong>Tổng tiền lãi: </strong><span class="tong-tien-lai"></span></div>
                                                <div class="item-result"><strong>Tổng số tiền gốc và lãi: </strong><span class="tong-so-tien-nhan-duoc"></span></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="~/js/jquery.table2excel.js"></script>
    <script src="~/page/enterprise-tool-calulation.js"></script>
}