
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="index.html">Cá nhân</a></li>
                        <li class="active"><span>Sản phẩm</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_sanphamDS1.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">Sản phẩm</h1>
                        <div class="content">Vietbank đáp ứng mọi nhu cầu của bạn</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="sanpham-ds1">
        <div class="container">
            <div class="sanpham-wrap">
                <div class="row flex flex-wrap">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/tien-gui-tiet-kiem.png" alt="Tiền gửi tiết kiệm"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Tiền gửi tiết kiệm</a></h3>
                                    <ul>
                                        <li><a href="#">Tiết kiệm Linh hoạt vốn</a></li>
                                        <li><a href="#">Tiết kiệm Quyền chọn</a></li>
                                        <li><a href="#">Tiền gửi Đa tiện ích</a></li>
                                        <li><a href="#">Tiết kiệm Tích lũy hưu trí</a></li>
                                        <li><a href="#">Tiết kiệm Lũy tiến thời gian</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/tien-gui-thanh-toan.png" alt="Tiền gửi tiết kiệm"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Tiền gửi thanh toán</a></h3>
                                    <ul>
                                        <li><a href="#">Tiền gửi thanh toán không kỳ hạn</a></li>
                                        <li><a href="#">Tiền gửi thanh toán có kỳ hạn</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/ngan-hang-dien-tu.png" alt="Tiền gửi tiết kiệm"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Ngân hàng điện tử</a></h3>
                                    <ul>
                                        <li><a href="#">Internet Banking</a></li>
                                        <li><a href="#">Mobile Banking</a></li>
                                        <li><a href="#">Chuyển tiền nhanh liên ngân hàng</a></li>
                                        <li><a href="#">Chuyển tiền đến ĐTDĐ - Nhận tiền tại ATM</a></li>
                                        <li><a href="#">Rút tiền tại ATM không dùng thẻ (Cardless)</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sanpham-wrap">
                <div class="row flex flex-wrap">
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/san-phan-va-dich-vu-khac.png" alt="Sản phẩm và dịch vụ khác"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Sản phẩm và dịch vụ khác</a></h3>
                                    <ul>
                                        <li><a href="#">Dịch vụ Thanh toán hóa đơn</a></li>
                                        <li><a href="#">Dịch vụ Chuyển khoản/ chuyển tiền trong nước</a></li>
                                        <li><a href="#">Dịch vụ Chi trả kiều hối Western Union</a></li>
                                        <li><a href="#">Dịch vụ Giữ hộ Vàng</a></li>
                                        <li><a href="#">Dịch vụ Giữ hộ Giấy tờ</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/tin-dung.png" alt="Tiền gửi tiết kiệm"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Tín dụng</a></h3>
                                    <ul>
                                        <li><a href="#">Cho vay sản xuất kinh doanh</a></li>
                                        <li><a href="#">Cho vay mua nhà, đất </a></li>
                                        <li><a href="#">Cho vay xây dựng, sửa chữa nhà</a></li>
                                        <li><a href="#">Cho vay mua xe ô tô</a></li>
                                        <li><a href="#">Cho vay tiêu dùng có TSĐB</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="item-sp">
                            <figure>
                                <a href="#"><img src="/img/sanpham/chuyen-tien-quoc-te.png" alt="Tiền gửi tiết kiệm"></a>
                                <figcaption>
                                    <h3> <a href="sanpham-ds2.html">Chuyển tiền quốc tế</a></h3>
                                    <ul>
                                        <li><a href="#">Chuyền tiền ra nước ngoài</a></li>
                                        <li><a href="#">Nhận tiền từ nước ngoài</a></li>
                                    </ul><a href="sanpham-ds2.html" class="readMore"><span>Xem tất cả </span><i class="fa fa-angle-right"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
