
@{
    ViewData["Title"] = "YouNeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="index.html">Cá nhân</a></li>
                        <li class="active"><span>Bạn cần</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_bancan.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">Bạn cần</h1>
                        <div class="content">Vietbank thấu hiểu mọi nhu cầu của bạn</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="choose-need">
        <div class="container">
            <select name="gender">
                <option value="-1">Chọn các nhu cầu bạn cần tìm...</option>
                <option value="1">Nhu cầu vay mua nhà</option>
                <option value="2">Nhu cầu vậy mua </option>
            </select>
        </div>
    </section>
</section>
<main>
    <section class="bancan-ds">
        <div class="container">
            <div class="row flex flex-wrap">
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-1">
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img1.png" alt=""></a></div>
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Chiếc xe hoàn hảo</a></h4>
                            <div class="desc">Lái ngay về nhà chiếc xe hoàn hảo mà bạn muốn chỉ với thủ tục đơn giản vỏn vẹn trong vòng 8h tại Vietbank.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-2">
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Ngôi nhà trong mơ</a></h4>
                            <div class="desc">Vietbank mang giấc mơ “An cư –Lạc nghiệp” đến gần hơn với mọi gia đình Việt.</div>
                        </div>
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img2.png" alt=""></a></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-3">
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img3.png" alt=""></a></div>
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Ước mơ du học</a></h4>
                            <div class="desc">Thấu hiểu những lo lắng của bạn, hãy để chúng tôi chia sẻ và đồng hành cùng bạn qua sản phẩm Cho vay du học với nhiều tiện ích hấp dẫn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-4">
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Phát triển kinh doanh</a></h4>
                            <div class="desc">Luôn sát cánh tạo điều kiện tài chính thuận lợi để bạn có thể nắm bắt cơ hội thực hiện ước mơ gầy dựng một doanh nghiệp thành công.</div>
                        </div>
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img4.png" alt=""></a></div>
                    </div>
                </div>
            </div>
            <div class="row flex flex-wrap">
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-5">
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img5.png" alt=""></a></div>
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Kinh doanh chứng khoán</a></h4>
                            <div class="desc">Tự tin thử sức mình qua việc kinh doanh chứng khoán khi không còn bất kỳ băn khoăn về vốn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-6">
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Tiêu dùng thông minh </a></h4>
                            <div class="desc">Chúng tôi sẽ giúp bạn chủ động nguồn tài chính chi trả cho các nhu cầu cuộc sống như: cưới hỏi, du lịch, mua xe, đóng học phí, các chi phí phát sinh đột xuất</div>
                        </div>
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img6.png" alt=""></a></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-7">
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img7.png" alt=""></a></div>
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Tích lũy hưu trí</a></h4>
                            <div class="desc">Chủ động tích lũy ngay hôm nay để an hưởng tuổi già trọn vẹn.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                    <div class="item-bc op-8">
                        <div class="caption">
                            <h4><a href="bancan-ct.html">Tích lũy tương lai</a></h4>
                            <div class="desc">Bạn sẽ không phải  lo lắng vì số tiền mình đang có còn khiêm tốnvà  mong muốn tối đa hóa lợi nhuận đối với số tiền tiết kiệm của mình sẽ vô cùng đơn giản.</div>
                        </div>
                        <div class="thumb"><a href="bancan-ct.html"><img src="/img/bancan/bancan_img8.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>